# Provided by Opsima
external_id       = "00000000-0000-0000-0000-000000000000"
customer_short_id = "0123456789"

# Provided by you, from your Organization
organization_id      = "o-xxxxxxxxxx"
organization_root_id = "r-xxxx"

# Optional
# create_cur_bucket                 = true
# create_opsima_organizational_unit = false # bring your own OU
# opsima_organizational_unit_id     = "ou-xxxx-xxxxxxxx"
